---
import Layout from "../layouts/Layout.astro";

const { current = '' } = Astro.props;
---

<Layout title="About">
  <about>
    <div>
      <h1>This chapter will</h1> <h1>be available soon...</h1>
    </div>
  </about>
</Layout>