---
import Layout from "../layouts/Layout.astro";

const { current = '' } = Astro.props;
---

<Layout title="Contact">
  <contact>
    <div>
      <h1>This section will</h1> <h1>be available soon...</h1>
    </div>
  </contact>
</Layout>