---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<Layout title="" >

    <main >
			<div>
				<h1>Isabella van Staden</h1>
					<img src="./images/profiletransparent.png" class="profile-pic" alt="">
				<h2>Senior Software Developer</h2><br>
				<p>Python JavaScript Bash HTML CSS C/C++ Perl</p>
				<p>ReactJS Flask Django Laravel</p>
				<p>PostgreSQL DynamoDB MongoDB Informix Oracle</p>
				<p>Linux Unix Windows</p>
				<p>AWS MongoDB-Cloud</p>
				<p>Docker Miniconda</p>
				<p>Git Bitbucket SourceTree VSCode</p>
				<p>Jira Confluence Agile</p>
			</div>      
    </main>

</Layout>