---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<Layout title="" >

    <main >
			<div>
				<h1>Isabella van Staden</h1>
				<h2>Senior Software Developer</h2><br>
				<p>Python &bull; JavaScript &bull; Bash &bull; HTML &bull; CSS &bull; C/C++ &bull; Perl</p>
				<p>ReactJS &bull; Flask &bull; Django &bull; Laravel</p>
				<p>PostgreSQL &bull; DynamoDB &bull; MongoDB &bull; Informix &bull; Oracle</p>
				<p>Linux &bull; Unix &bull; Windows</p>
				<p>AWS &bull; MongoDB Cloud</p>
				<p>Docker &bull; Miniconda</p>
				<p>Git &bull; Bitbucket &bull; SourceTree &bull; VSCode</p>
				<p>Jira &bull; Confluence &bull; Agile</p>
			</div>      
    </main>

</Layout>
