---
import Layout from "../layouts/Layout.astro";

const { current = '' } = Astro.props;
---

<Layout title="Resume">
  <resume>
    <div>
      <h1>Resume</h1>
      <p>I have worked places...</p>
    </div>
  </resume>
</Layout>