---
import Layout from "../layouts/Layout.astro";

const { current = '' } = Astro.props;
---

<Layout title="Resume">
  <resume>
    <div>
      <h1>This section will</h1> <h1>be available soon...</h1>
    </div>
  </resume>
</Layout>