---
const { current = '' } = Astro.props;
---

<nav class="nav-container">
  <ul class="nav-main">
    <li><a href="/cv4/">.isabella-van-staden</a></li>
    <li class="push">
      <a href="/cv4/About">.about</a>
    </li>
    <li><a href="/cv4/Resume">.resume</a></li>
    <li><a href="/cv4/ToyBox">.toybox</a></li>
    <li><a href="/cv4/Contact">.contact</a></li>
    <li>
      <a class="theme-button" title="change theme">
        <svg class="theme-icon"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <g fill="none">
                <path class="theme-path" d="M12.5 2v3.252a.75.75 0 0 0 1.5 0V2h1v4.251a.75.75 0 0 0 1.5 0V2h1.75a.75.75 0 0 1 .75.75V11H5V2.75A.75.75 0 0 1 5.75 2h6.75z"/>
                <path class="theme-path" d="M5 12.5v1.752a2.25 2.25 0 0 0 2.25 2.25H10V20a2 2 0 1 0 4 0v-3.498h2.75a2.25 2.25 0 0 0 2.25-2.25V12.5H5z"/>
            </g>
        </svg>
      </a>
  </li>  
  </ul>       
</nav>

<script>
  document.querySelector('.theme-button').addEventListener('click', () => {
      const html = document.querySelector("html");
      html.classList.toggle('dark-theme');
  })
</script>

<style>
  .nav-container {
    display: block;
    position: fixed;
    top: 0;
    width: 90%;
    border-radius: 1px;
    transition: all 0.3s linear;
    margin: 0;
    z-index: 9999;
    opacity: 1;
  }

  .nav-main {
    display: flex;
    list-style: none;
    margin: 0 40px 0 0;
  }

  .push {                 
    margin-left: auto;      
  } 

  .nav-main li {
    padding: 10px;
    margin-top: 0;
  }

  .nav-main a {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-weight: lighter;
    color: var(--main-text-color);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .nav-main li:hover a {
    background-color: var(--main-highlight);
    padding: 5px;
    border-radius: var(--main-border-radius);
  }
</style>